* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  @font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 89px;
  display: inline-block;
  justify-content: left;
  background: #590BFF;
}

.header-row {
  display: flex;
  position: sticky;
  width: 403px;
  height: 63px;
  margin-left: 29px;
  margin-top: 13px;
}

.header-row__heading {
  color: #FFFFFF;
  font-size: 54px;
  line-height: 63px;
  font-weight: 400;
}

/* Начало сайдбара*/

.sidebar {
  position: fixed;
  width: 280px;
	min-height: 450px;
	border-right: 2px solid #C4C4C4 ;
	margin: 27px 0 0 0;
  padding: 0 0 0 20px;
}

.sidebar__heading {
  font-family: 'RobotoFlex';
  font-size: 28px;
  font-weight: 600;
  padding: 0;
	margin: 0 0 23px 0;	
}

.sidebar__info-search {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 12px;
}

.sidebar__info-link {
 color: #FF710B; 
}

.sidebar__info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

/* Конец сайдбара*/

.section-content {
  position: absolute;
  width: 1080px;
  left: 335px;
  top: 143px;
}

.section-content__block{
  width: 19px;
  height: 33px;
  justify-content: left;
  display:flex;
  position: sticky;
  margin: 4px 0 4px 13px;
}

/*letter a*/
.section-content__row-letter-a {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
}

.section-content__letter-a {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-a {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 54px;
  font-size: 28px;
  line-height: 33px;
}

/*letter b*/
.section-content__row-letter-b {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 480px;
}

.section-content__letter-b {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-b {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 534px;
  font-size: 28px;
  line-height: 33px;
}

/*letter v*/
.section-content__row-letter-v {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 960px;
}

.section-content__letter-v {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-v {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 1014px;
  font-size: 28px;
  line-height: 33px;
}

/*letter g*/
.section-content__row-letter-g {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 1440px;
}

.section-content__letter-g {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-g {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 1494px;
  font-size: 28px;
  line-height: 33px;
}

/*letter d*/
.section-content__row-letter-d {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 1920px;
}

.section-content__letter-d {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-d {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 1974px;
  font-size: 28px;
  line-height: 33px;
}

/*letter e*/
.section-content__row-letter-e {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 2400px;
}

.section-content__letter-e {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-e {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 2454px;
  font-size: 28px;
  line-height: 33px;
}

/*letter zh*/
.section-content__row-letter-zh {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 2880px;
}

.section-content__letter-zh {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-zh {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 2934px;
  font-size: 28px;
  line-height: 33px;
}

/*letter z*/
.section-content__row-letter-z {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 3360px;
}

.section-content__letter-z {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-z {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 3414px;
  font-size: 28px;
  line-height: 33px;
}

/*letter i*/
.section-content__row-letter-i {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 3840px;
}

.section-content__letter-i {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-i {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 3894px;
  font-size: 28px;
  line-height: 33px;
}

/*letter y*/
.section-content__row-letter-y {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 4320px;
}

.section-content__letter-y {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-y {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 4374px;
  font-size: 28px;
  line-height: 33px;
}

/*letter k*/
.section-content__row-letter-k {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 4800px;
}

.section-content__letter-k {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-k {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 4854px;
  font-size: 28px;
  line-height: 33px;
}

/*letter l*/
.section-content__row-letter-l {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 5280px;
}

.section-content__letter-l {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-l {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 5334px;
  font-size: 28px;
  line-height: 33px;
}

/*letter m*/
.section-content__row-letter-m {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 5760px;
}

.section-content__letter-m {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-m {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 396px;
  left: 13px;
  top: 5814px;
  font-size: 28px;
  line-height: 33px;
}

/*letter n*/
.section-content__row-letter-n {
  display: inline-block;
  position: absolute;
  width: 1080px;
  height: 41px;
  background:#590BFF;
  top: 6240px;
}

.section-content__letter-n {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.section-content__second-name-n {
  position: absolute;
  list-style-type: none;
  width: 132px;
  height: 426px;
  left: 13px;
  top: 6294px;
  font-size: 28px;
  line-height: 33px;
}
