*{
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background: #ffcbc8;
}

.upper-menu-1 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    left: 50px;
}

.images {
    height: 30px;
    width: 30px; 
}

.logo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    width: 305px;
    left: 785px;
}

h1 {
    list-style: none;
    color: #000000;
}
 
.upper-menu-2 {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-right: auto;
    top: 20px;
    right: 50px;
    list-style-type: none; 
}


nav:before {
    content: " ";
    display: block;
    height: 90px;
    width: 100%;
    background: #ffcbc8;
    position: absolute;
    left: 0;
    z-index: -1;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    height: 50px;
}

ul li a {
    display: block;
    height: 30px;
    padding: 30px;
    text-decoration: none;
}

ul li a:hover {
    background: #f1b3b3;
}

main {
    width: 70%;
    margin: 0 auto;       
}

.container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px; 
	column-gap: 50px;
    margin-bottom: 50px; 
}

.card {
    width: 300px;
    height: 430px;
    padding: 15px;
    text-align: left;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: solid 1px;
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    margin-left: 50px;
    margin-top: 50px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

h2 {
    margin: 5px;
    font-size: 20px;  
    font-weight: 200; 
}

.price {
    display: flex;
    flex-wrap: wrap;
	row-gap: 50px;
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: grey;
    font-size: 17px; 
}

.new-price {
    font-weight: bold;
    color: #DC143C;
    font-size: 20px; 
    font-style: normal;  
}

.add-to-cart {
    font-size: 18px; 
    text-decoration: none;
    color:#000000;
    padding: 8px;
    background: #ffcbc8;
    border-radius: 10px;
    text-align: center;
    margin-left: 44px;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color: #ffcbc8;
    margin-top: 20px;
}

h3 a {
    display: block;
    text-decoration: none;
    margin: 0 0 0 17%;
    color:#000000;
    padding: 3px;
}
