* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #FFFFFF;
        height: calc(80/768 * 100vw);
        box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .header__top-side {
        height: calc(80/768 * 100vw);
        display: flex;
        flex-direction: row;
    }

    .header__logo {
        position: absolute;
        margin-top: calc(25/768 * 100vw);
        margin-left: calc(20/768 * 100vw);
        margin-bottom: calc(30/768 * 100vw);
        width: calc(124/768 * 100vw);
        height: calc(25/768 * 100vw);
    }

    .header__heading {
        position: absolute;
        margin-top: calc(23/768 * 100vw);
        margin-left: calc(178/768 * 100vw);
        margin-bottom: calc(28/768 * 100vw);
        font-size: calc(24/768 * 100vw);
        font-weight: 700;
        line-height: calc(29/768 * 100vw);
        color: #787878;
        font-family: 'Roboto';
        font-style: normal;
    }

    .header__signup-item {
        position: absolute;
        left: calc(559/768 * 100vw);
        top: calc(30/768 * 100vw);
        bottom: calc(31/768 * 100vw);
        font-family: 'Inter';
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(19/768 * 100vw);
        color: #787878;
        text-decoration: none;
    }

    .header__login-item {
        position: absolute;
        left: calc(700/768 * 100vw);
        top: calc(30/768 * 100vw);
        bottom: calc(31/768 * 100vw);
        font-family: 'Inter';
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(19/768 * 100vw);
        color: #1A226B;
        text-decoration: none;
    }

    .signup-form {
        position: absolute;
        width: calc(600/768 * 100vw) ;
        height: calc(875/768 * 100vw);
        left: calc(64/768 * 100vw);
        top: calc(165/768 * 100vw);
        background: #FFFFFF;
        box-shadow: 0px 0px 2.5rem 0.625rem rgba(0, 0, 0, 0.25);    
    }

    .signup-form__row-text-caption {
        position: absolute;
        left: calc(140/768 * 100vw);
        top: calc(26/768 * 100vw);
    }

    .signup-form__text-caption {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(50/768 * 100vw);
        line-height: calc(50/768 * 100vw);
        color: #787878;;
    }

    .signup-form__email-label {
        position: absolute;
        width: calc(40/768 * 100vw);
        height: calc(16/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(91/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__email-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/768 * 100vw);
        height: calc(49/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(112/768 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;
    }

    .signup-form__email-input::placeholder  {
        color: #CCCCCC;
    }

    .signup-form__password-label {
        position: absolute;
        width: calc(56/768 * 100vw);
        height: calc(16/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(172/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__password-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/768 * 100vw);
        height: calc(49/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(193/768 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;
    }

    .signup-form__password-input::placeholder  {
        color: #CCCCCC;
    }

    .signup-form__password-confirmation-label {
        position: absolute;
        width: calc(182/768 * 100vw);
        height: calc(16/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(253/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__password-confirmation-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/768 * 100vw);
        height: calc(49/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(274/768 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;    
    }

    .signup-form__password-confirmation-input::placeholder {
        color: #CCCCCC;
    }

    .signup-form__gender-label {
        position: absolute;
        width: calc(30/768 * 100vw);
        height: calc(16/768 * 100vw);
        left: calc(43/768 * 100vw);
        top: calc(334/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__radio-male {
        position: relative;
        display: flex; 
        align-items: center;
        top: calc(355/768 * 100vw);
        left: calc(45/768 * 100vw);
        width: calc(90/768 * 100vw);
        justify-content: space-between;
    }

    .signup-form__radio-male input {
        width: calc(20/768 * 100vw);
        height: calc(20/768 * 100vw);
        opacity: 0;
    }

    .signup-form__radio-male > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__radio-male > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(20/768 * 100vw);
        height: calc(20/768 * 100vw);
        border-radius: 50%;

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__radio-male > label::after {
        content: ' ';
        position: absolute;
        height: calc(14/768 * 100vw);
        width: calc(14/768 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(5/768 * 100vw);
        top: calc(5/768 * 100vw);
        opacity: 0;
        border-radius: 50%;
    }

    .signup-form__radio-male > input:checked + label::after {
        opacity: 1;
    }

    .signup-form__radio-female {
        position: relative;
        display: flex; 
        align-items: center;
        top: calc(364/768 * 100vw);
        left: calc(45/768 * 100vw);
        width: calc(90/768 * 100vw);
        justify-content: space-between;
    }

    .signup-form__radio-female input {
        width: calc(20/768 * 100vw);
        height: calc(20/768 * 100vw);
        opacity: 0;
    }

    .signup-form__radio-female > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__radio-female > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(20/768 * 100vw);
        height: calc(20/768 * 100vw);
        border-radius: 50%;

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__radio-female > label::after {
        content: ' ';
        position: absolute;
        height: calc(14/768 * 100vw);
        width: calc(14/768 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(5/768 * 100vw);
        top: calc(5/768 * 100vw);
        opacity: 0;
        border-radius: 50%;
    }

    .signup-form__radio-female > input:checked + label::after {
        opacity: 1;
    }

    .signup-form__about-yourself-label {
        position: absolute;
        width: calc(50/768 * 100vw);
        height: calc(16/768 * 100vw);
        left: calc(43/768 * 100vw);
        top: calc(415/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__about-textarea {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/768 * 100vw);
        height: calc(246/768 * 100vw);
        left: calc(45/768 * 100vw);
        top: calc(436/768 * 100vw);
        background: #FFFFFF;
        border: 2px solid #787878;
        padding-left: calc(15/768 * 100vw);
        padding-top: calc(7/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;
        resize: none;  
    }

    .signup-form__about-textarea::placeholder {
        color: #CCCCCC;
    }

    .signup-form__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        top: calc(666/768 * 100vw);
        left: calc(43/768 * 100vw);
        width: calc(315/768 * 100vw);
        justify-content: space-between;
    }

    .signup-form__checkbox input {
        width: calc(24/768 * 100vw);
        height: calc(24/768 * 100vw);
        opacity: 0;
    }

    .signup-form__checkbox > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #787878;
    }

    .signup-form__checkbox > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(24/768 * 100vw);
        height: calc(24/768 * 100vw);

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__checkbox > label::after {
        content: ' ';
        position: absolute;
        height: calc(12/768 * 100vw);
        width: calc(12/768 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(8/768 * 100vw);
        top: calc(8/768 * 100vw);
        opacity: 0;
    }

    .signup-form__checkbox > input:checked + label::after {
        opacity: 1;
    }

    .signup-form__signup-button {
        position: absolute;
        width: calc(180/768 * 100vw);
        height: calc(52/768 * 100vw);
        left: calc(210/768 * 100vw);
        top: calc(786/768 * 100vw);
        background: #1A226B;
        border: none;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: calc(24/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #FFFFFF;
    }
}

@media screen and (min-width: 769px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        background: #FFFFFF;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #FFFFFF;
        height: calc(80/1440 * 100vw);
        box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .header__top-side {
        height: calc(80/1440 * 100vw);
        display: flex;
        flex-direction: row;
    }

    .header__logo {
        position: absolute;
        margin-top: calc(18/1440 * 100vw);
        margin-left: calc(30/1440 * 100vw);
        margin-bottom: calc(12/1440 * 100vw);
        width: calc(222/1440 * 100vw);
        height: calc(50/1440 * 100vw);
    }

    .header__heading {
        position: absolute;
        margin-top: calc(21/1440 * 100vw);
        margin-left: calc(282/1440 * 100vw);
        margin-bottom: calc(15/1440 * 100vw);
        font-size: calc(36/1440 * 100vw);
        font-weight: 700;
        line-height: calc(44/1440 * 100vw);
        color: #787878;
        font-family: 'Roboto';
        font-style: normal;
    }

    .header__signup-item {
        position: absolute;
        left: calc(1152/1440 * 100vw);
        top: calc(25/1440 * 100vw);
        bottom: calc(26/1440 * 100vw);
        font-family: 'Inter';
        font-weight: 700;
        font-size: calc(24/1440 * 100vw);
        line-height: calc(29/1440 * 100vw);
        color: #787878;
        text-decoration: none;
    }

    .header__login-item {
        position: absolute;
        left: calc(1337/1440 * 100vw);
        top: calc(25/1440 * 100vw);
        bottom: calc(26/1440 * 100vw);
        font-family: 'Inter';
        font-weight: 700;
        font-size: calc(24/1440 * 100vw);
        line-height: calc(29/1440 * 100vw);
        color: #1A226B;
        text-decoration: none;
    }

    .signup-form {
        position: absolute;
        width: calc(600/1440 * 100vw) ;
        height: calc(875/1440 * 100vw);
        left: calc(420/1440 * 100vw);
        top: calc(167/1440 * 100vw);
        background: #FFFFFF;
        box-shadow: 0px 0px 2.5rem 0.625rem rgba(0, 0, 0, 0.25);    
    }

    .signup-form__row-text-caption {
        position: absolute;
        left: calc(140/1440 * 100vw);
        top: calc(26/1440 * 100vw);
    }

    .signup-form__text-caption {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(50/1440 * 100vw);
        line-height: calc(50/1440 * 100vw);
        color: #787878;;
    }

    .signup-form__email-label {
        position: absolute;
        width: calc(40/1440 * 100vw);
        height: calc(16/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(91/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__email-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/1440 * 100vw);
        height: calc(49/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(112/1440 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/1440 * 100vw);
        line-height: calc(36/1440 * 100vw);
        color: #787878;
    }

    .signup-form__email-input::placeholder  {
        color: #CCCCCC;
    }

    .signup-form__password-label {
        position: absolute;
        width: calc(56/1440 * 100vw);
        height: calc(16/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(172/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__password-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/1440 * 100vw);
        height: calc(49/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(193/1440 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/1440 * 100vw);
        line-height: calc(36/1440 * 100vw);
        color: #787878;
    }

    .signup-form__password-input::placeholder  {
        color: #CCCCCC;
    }

    .signup-form__password-confirmation-label {
        position: absolute;
        width: calc(182/1440 * 100vw);
        height: calc(16/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(253/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__password-confirmation-input {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/1440 * 100vw);
        height: calc(49/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(274/1440 * 100vw);
        background: #FFFFFF;
        border: 0.125rem solid #787878;
        padding-left: calc(15/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/1440 * 100vw);
        line-height: calc(36/1440 * 100vw);
        color: #787878;    
    }

    .signup-form__password-confirmation-input::placeholder {
        color: #CCCCCC;
    }

    .signup-form__gender-label {
        position: absolute;
        width: calc(30/1440 * 100vw);
        height: calc(16/1440 * 100vw);
        left: calc(43/1440 * 100vw);
        top: calc(334/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__radio-male {
        position: relative;
        display: flex; 
        align-items: center;
        top: calc(355/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        width: calc(90/1440 * 100vw);
        justify-content: space-between;
    }

    .signup-form__radio-male input {
        width: calc(20/1440 * 100vw);
        height: calc(20/1440 * 100vw);
        opacity: 0;
    }

    .signup-form__radio-male > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__radio-male > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(20/1440 * 100vw);
        height: calc(20/1440 * 100vw);
        border-radius: 50%;

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__radio-male > label::after {
        content: ' ';
        position: absolute;
        height: calc(14/1440 * 100vw);
        width: calc(14/1440 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(5/1440 * 100vw);
        top: calc(5/1440 * 100vw);
        opacity: 0;
        border-radius: 50%;
    }

    .signup-form__radio-male > input:checked + label::after {
        opacity: 1;
    }

    .signup-form__radio-female {
        position: relative;
        display: flex; 
        align-items: center;
        top: calc(364/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        width: calc(90/1440 * 100vw);
        justify-content: space-between;
    }

    .signup-form__radio-female input {
        width: calc(20/1440 * 100vw);
        height: calc(20/1440 * 100vw);
        opacity: 0;
    }

    .signup-form__radio-female > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__radio-female > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(20/1440 * 100vw);
        height: calc(20/1440 * 100vw);
        border-radius: 50%;

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__radio-female > label::after {
        content: ' ';
        position: absolute;
        height: calc(14/1440 * 100vw);
        width: calc(14/1440 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(5/1440 * 100vw);
        top: calc(5/1440 * 100vw);
        opacity: 0;
        border-radius: 50%;
    }

    .signup-form__radio-female > input:checked + label::after {
        opacity: 1;
    }

    .signup-form__about-yourself-label {
        position: absolute;
        width: calc(50/1440 * 100vw);
        height: calc(16/1440 * 100vw);
        left: calc(43/1440 * 100vw);
        top: calc(415/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__about-textarea {
        box-sizing: border-box;
        position: absolute;
        width: calc(509/1440 * 100vw);
        height: calc(246/1440 * 100vw);
        left: calc(45/1440 * 100vw);
        top: calc(436/1440 * 100vw);
        background: #FFFFFF;
        border: 2px solid #787878;
        padding-left: calc(15/1440 * 100vw);
        padding-top: calc(7/1440 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/1440 * 100vw);
        line-height: calc(36/1440 * 100vw);
        color: #787878;
        resize: none;  
    }

    .signup-form__about-textarea::placeholder {
        color: #CCCCCC;
    }

    .signup-form__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        top: calc(666/1440 * 100vw);
        left: calc(43/1440 * 100vw);
        width: calc(315/1440 * 100vw);
        justify-content: space-between;
    }

    .signup-form__checkbox input {
        width: calc(24/1440 * 100vw);
        height: calc(24/1440 * 100vw);
        opacity: 0;
    }

    .signup-form__checkbox > label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: calc(14/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #787878;
    }

    .signup-form__checkbox > label::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(24/1440 * 100vw);
        height: calc(24/1440 * 100vw);

        border: 2px solid rgba(120, 120, 120, 1);
    }

    .signup-form__checkbox > label::after {
        content: ' ';
        position: absolute;
        height: calc(12/1440 * 100vw);
        width: calc(12/1440 * 100vw);
        background: rgba(120, 120, 120, 1);
        left: calc(8/1440 * 100vw);
        top: calc(8/1440 * 100vw);
        opacity: 0;
    }
    
    .signup-form__checkbox > input:checked + label::after {
        opacity: 1;
    }
    
    .signup-form__signup-button {
        position: absolute;
        width: calc(180/1440 * 100vw);
        height: calc(52/1440 * 100vw);
        left: calc(210/1440 * 100vw);
        top: calc(786/1440 * 100vw);
        background: #1A226B;
        border: none;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: calc(24/1440 * 100vw);
        line-height: calc(16/1440 * 100vw);
        color: #FFFFFF;
    }
}